<div class="container">

  <div class="row text-center">

    <div class="col-md-12 set-pad">

      <strong class="error-txt">ERROR ! 404</strong>
      <p class="p-err">{{_err}}</p>
      <a href="index.html" class="btn btn-danger"><i class="fa fa-mail-reply"></i>&nbsp;PLEASE GO BACK</a>
    </div>


  </div>
</div>
<div class="c-err">
  <div class="container">
    <div class="row ">
      <div class="form-group input-group col-md-6 col-md-offset-3">
        <input type="text" class="form-control" placeholder="Enter Keywords"/>
        <span class="input-group-btn">
                    <a class="btn btn-primary" href="index.html">
                        <i class="fa fa-gear fa-spin"></i>&nbsp;&nbsp;SEARCH HERE
                    </a>
                </span>
      </div>
      <br/>

    </div>
  </div>
</div>

